@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem-Vindo!</h1>
    <h2>Seja muito bem-vindo à nossa aplicação de filmes feita em ASP.NET Core MVC. Não se esqueça de visitar nosso repositório no github!</h2>
    <h2>
        <p>
            <a href="../Movies/" class="badge bg-dark text-light" >FilmeApp</a>
            <a href="https://github.com/goldmansenai/projetoMvc" target="_blank" class="badge bg-dark text-light">Repositório</a>
        </p>
    </h2>
</div>
