@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Em nosso serviço, nossa principal atração é o gerenciamento de filmes e veja bem, não possuimos nenhum tipo de autenticação, portanto, fique tranquilo com relação aos seus dados, nós não coletamos nenhum tipo de informação</p>
